.divForArticleProduct {
  margin-top: 227px;
  padding: 0px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 50px;

  .Price {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
  }
}
.white {
  color: #303030;
}
.black {
  color: #E5E5E5;
}