header {
  background-color: #303030;
}

.Wrap {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  max-width: 1200px;

  .linkStyle {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
  }

  nav {
    flex: 1;
    text-align: center;
  }

  nav > .linkStyle {
    padding: 0 25px;
  }
}

.Logo {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  transition: .5s;
  text-decoration: none;
  &:hover {
    color: #8CEEBF;
  }
}